name: Build compat55

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build-linux:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
    - uses: lukka/get-cmake@v4.1.1
    - name: Build
      run: |
        cmake -B build -G Ninja -DCMAKE_BUILD_TYPE=Release -DCOMPAT55_BUILD_TESTS=OFF
        cmake --build build
    - uses: actions/upload-artifact@v4
      with:
        name: x86_64-linux-compat55-${{ github.sha }}
        path: build/libcompat55.a

  build-linux-arm:
    runs-on: ubuntu-22.04-arm
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
    - uses: lukka/get-cmake@v4.1.1
    - name: Build
      run: |
        cmake -B build -G Ninja -DCMAKE_BUILD_TYPE=Release -DCOMPAT55_BUILD_TESTS=OFF
        cmake --build build
    - uses: actions/upload-artifact@v4
      with:
        name: arm64-linux-compat55-${{ github.sha }}
        path: build/libcompat55.a

  build-macos:
    strategy:
      matrix:
        arch: [arm64, x86_64]
    runs-on: macOS-14
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
    - uses: lukka/get-cmake@v4.1.1
    - name: Build
      run: |
        cmake -B build -G Ninja -DCMAKE_BUILD_TYPE=Release \
          -DCMAKE_OSX_ARCHITECTURES=${{ matrix.arch }} \
          -DCOMPAT55_BUILD_TESTS=OFF
        cmake --build build
    - uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.arch }}-macos-compat55-${{ github.sha }}
        path: build/libcompat55.a

  build-ios:
    strategy:
      matrix:
        include:
          - arch: arm64
            sdk: iphoneos
          - arch: x86_64
            sdk: iphonesimulator
    runs-on: macOS-14
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
    - uses: lukka/get-cmake@v4.1.1
    - name: Build
      run: |
        cmake -B build -G Ninja -DCMAKE_BUILD_TYPE=Release \
          -DCMAKE_SYSTEM_NAME=iOS \
          -DCMAKE_OSX_ARCHITECTURES=${{ matrix.arch }} \
          -DCMAKE_OSX_SYSROOT=${{ matrix.sdk }} \
          -DCOMPAT55_BUILD_TESTS=OFF
        cmake --build build
    - uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.arch }}-ios-compat55-${{ github.sha }}
        path: build/libcompat55.a

  build-windows:
    strategy:
      matrix:
        arch: [x64, x86]
    runs-on: windows-2025
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
    - uses: lukka/get-cmake@v4.1.1
    - uses: TheMrMilchmann/setup-msvc-dev@v3
      with:
        arch: ${{ matrix.arch }}
    - name: Build
      run: |
        cmake -B build -G Ninja -DCMAKE_BUILD_TYPE=Release -DCOMPAT55_BUILD_TESTS=OFF
        cmake --build build
    - uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.arch }}-win32-compat55-${{ github.sha }}
        path: build/compat55.lib

  build-android:
    strategy:
      matrix:
        include:
          - platform: armv7-android
            abi: armeabi-v7a
          - platform: arm64-android
            abi: arm64-v8a
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
    - uses: lukka/get-cmake@v4.1.1
    - uses: nttld/setup-ndk@v1
      id: setup-ndk
      with:
        ndk-version: r25b
        add-to-path: false
    - name: Build
      run: |
        cmake -B build -G Ninja -DCMAKE_BUILD_TYPE=Release \
          -DCMAKE_TOOLCHAIN_FILE=${{ steps.setup-ndk.outputs.ndk-path }}/build/cmake/android.toolchain.cmake \
          -DANDROID_ABI=${{ matrix.abi }} \
          -DANDROID_PLATFORM=android-21 \
          -DCOMPAT55_BUILD_TESTS=OFF
        cmake --build build
    - uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.platform }}-compat55-${{ github.sha }}
        path: build/libcompat55.a

  build-web:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
    - uses: lukka/get-cmake@v4.1.1
    - uses: mymindstorm/setup-emsdk@v14
      with:
        version: "4.0.6"
    - name: Build
      run: |
        emcmake cmake -B build -G Ninja -DCMAKE_BUILD_TYPE=Release
        cmake --build build
    - uses: actions/upload-artifact@v4
      with:
        name: wasm-web-compat55-${{ github.sha }}
        path: build/libcompat55.a
